<footer class="footer">
    <div class="footer-content">
        <img src="../assets/img/ver.png" width="100px" height="100px">
        <p>© 2023 VerdeBendito. Todos los derechos reservados.</p>
        <nav>
            <h4>Redes Sociales</h4>
            <img src="../assets/img/icons8-facebook-nuevo-100.png" alt="Facebook" height="40" class="redes">
            <img src="../assets/img/icons8-instagram-100.png" alt="Facebook" height="40" class="redes"> 
            <p>Contacto +55 33333333333</p>
            <p>Correo Electronico: Leo&#64;gmail.com</p>
        </nav>
    </div>
</footer>