<section class="container">
    <div class="column">
        <h1>Qué ofrecemos</h1>
        <p>Ofrecemos una experiencia gastronómica saludable y conveniente directamente a tu puerta, con opciones deliciosas y nutritivas elaboradas con ingredientes frescos. Desde ensaladas vibrantes hasta platos principales equilibrados. cada comida está diseñada para satisfacer tus necesidades nutricionales sin sacrificar el sabor. ¡Déjanos cuidar de tu alimentación mientras tú te concentras en disfrutar de la vida!"</p>
    </div>
    <div class="column d-flex" >
        <h1 class="h11">Nuestra motivación</h1>
        <p>Estamos convencidos de que la nutrición es parte primordial para mantener un estilo de vida saludable, equilibrado y feliz. Por eso queremos ser ese ejemplo que enlace a la comunidad a los buenos hábitos.</p>
    </div>
    
</section>