<nav class="navbar navbar-expand-lg " style="background-color: #5AC134;">
  <a class="navbar-brand" href="#" >
      <img src="../assets/img/ver.png" alt="Logo" width="150" height="120" class="d-inline-block align-text-top">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
    <span class="navbar-toggler-icon"></span>
</button>

  

  <div class="collapse navbar-collapse" id="navbarNav" >
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link active nav-text" aria-current="page" href="/">Inicio</a>
          </li>
          
            <li class="nav-item">
                <a class="nav-link active nav-text" href="#nuestrosplanes">Nuestros Planes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active nav-text" href="#nuestrascomidas">Nuestras Comidas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active nav-text" href="#sobrenosotros">Sobre Nosotros</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active nav-text" href="#misionvision">Mision y Vision</a>
              </li>
         
      </ul>
  </div>
  <div class="d-flex align-items-center " style="margin:auto; padding-right: 20px;">
    <li style="list-style-type: none; color: white; font-size: 20px; font-weight: bold;">#AlimentacionSana</li>

    <ul style="padding-top:10px;" class="d-flex ">
          <li style="list-style-type: none; "><img src="../assets/img/icons8-facebook-nuevo-100.png" alt="Facebook" height="40" class="redes"></li>
          <li style="list-style-type: none; "><img src="../assets/img/icons8-instagram-100.png" alt="Instagram" height="40" class="redes"></li>
      </ul>
  </div>
  
  
</nav>
<router-outlet></router-outlet>