*{
    font-family: "Roboto", sans-serif;
}

.navbar-nav .nav-link.active{
    color: white;
    font-size: 20px;
    width: 100%;
    transition: font-size 0.3s ease
}

.navbar-nav .nav-link.active:hover{
font-size: 24px;
font-weight: bold;
}

.redes:hover{
    height: 60px;
}

.img{
    border-radius: 20px;
}