
<div class="container">
    <div class="text-content">
        <h2>Mision</h2>
        <p>Nuestra misión es motivar e inspirar la nutrición en cuerpo, mente y corazón a través de alimentos saludables.</p>
    </div>
    <img src="../assets/img/kitchen-81644_1280.jpg" alt="Facebook" class="redes">
</div>

<div class="container">
    <img src="../assets/img/kitchen-79574_1280.jpg" alt="Facebook" class="redes" style="margin-right: 20px;">
    <div class="text-content">

        <h2>Vision</h2>
        <p>Nuestro objetivo es ser reconocidos como un referente en la industria de la alimentación saludable, destacando por nuestra pasión por la calidad, la innovación y el compromiso con el bienestar de nuestros clientes. Juntos, estamos construyendo un futuro donde la alimentación saludable sea accesible, deliciosa y transformadora para todos.</p>
    </div>
</div>

